.global-search-wrapper {
  position: relative;
}

.global-search {
  display: flex;
  align-items: center;
  gap: 10px;

  background: #0f172a;
  border: 1px solid #1e293b;
  border-radius: 14px;

  padding: 10px 14px;
  width: 360px;
}

.search-icon {
  opacity: 0.6;
}

.global-search input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #e5e7eb;
  font-size: 14px;
}

.global-search input::placeholder {
  color: #64748b;
}

/* DROPDOWN */
.search-dropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;

  background: #020617;
  border: 1px solid #1e293b;
  border-radius: 14px;

  padding: 12px;
  z-index: 50;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.search-empty {
  text-align: center;
  font-size: 13px;
  color: #64748b;
}
